*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #727272;
    font-weight: 400;
    background-color: #181a1b;
}
a {
    color: #0070c9;
    text-decoration: none;
}
a:hover{
    color: #3791db;
    text-decoration: underline;
}
main{
    width: 860px;
    margin: 0 auto;
}

header {
    width: 270px;
    float: left;
    position: fixed;
    -webkit-font-smoothing: subpixel-antialiased;
}

section {
    width: 520px;
    float: right;
    padding-bottom: 50px;
}
section{
    color: #fff;
}

img.portrait {
    width: 100%;
    border-radius: 5px;
}

h1 {
    font-size: 28px;
}

h1, h2, h3 {
    line-height: 1.1;
}
h1, h2, h3, h4, h5, h6 {
    color: #111;
    margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

.view{
    font-size: 20px;
}

.font-white{
    color:white;
}
.font-gray{
    color: #727272;
}
hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
    color: #e5e5e5;
}
em {
    font-style: italic;
}
footer {
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
    -webkit-font-smoothing: subpixel-antialiased;
}
footer ul li{
    color: #fff;
}
